video
inc/dbconfig.php
journal/*
!journal/wp-content/
journal/wp-content/*
!journal/wp-content/themes/
journal/wp-content/themes/*
!journal/wp-content/themes/lifeproductions
journal/wp-content/themes/lifeproductions/.DS_Store
