/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
  400 - regular
  500 - medium
  700 - bold
  800 - extra-bold
font-family: 'Poppins', sans-serif;
  400 - regular
  700 - bold
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #252525;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 2em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #252525; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #0000FF;
  text-decoration: none;
}

A:hover, A:active {
  color: #FF0000;
  text-decoration: none;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width-wide {
  width: 1200px;
  margin: 0 auto;
}

.site-width:after,
.site-width-wide:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
 
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-size: 8px;
  line-height: 1em;
  text-align: center;
}

.slick-dots LI {
  display: inline-block;
}

.slick-dots LI BUTTON {
  margin: 0 4px;
  padding: 0;
  font-size: 0;
  border: 3px solid #AEAFAF;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: transparent;
  cursor: pointer;
}

.slick-dots LI BUTTON:focus {
  outline: none;
}

.slick-dots LI.slick-active BUTTON {
  background: #AEAFAF;
}

A.slick-prev,
A.slick-next {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  line-height: 1em;
  color: #7F7F7F;
  cursor: pointer;
}

A.slick-next {
  left: auto;
  right: 0;
}

.lp-header {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1em;
  padding-top: 20px;
}

.lp-header #logo {
  display: inline-block;
  width: 118px;
  height: 118px;
  background: url(../images/logo.png) no-repeat center center;
  background-size: cover;
}

#show-menu,
#menu-toggle {
  display: none;
}

.lp-header .menu UL {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style-type: 0;
  font-weight: 800;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.lp-header .menu UL LI {
  display: inline-block;
  margin-left: 60px;
  position: relative;
}

.lp-header .menu UL LI:first-of-type {
  margin-left: 0;
}

.lp-header .menu UL LI.mobile {
  display: none;
}

.lp-header .menu UL LI A:link,
.lp-header .menu UL LI A:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.lp-header .menu UL LI A:hover,
.lp-header .menu UL LI A:active,
.lp-header .menu UL LI:hover > A {
  color: #99CA3C;
  text-decoration: none;
}

.lp-header .menu UL LI UL {
  display: none;
  position: absolute;
  top: 1em;
  left: 0;
  transform: none;
  padding: 0.25em 0;
}

.lp-header .menu UL LI:hover UL {
  display: block;
}

.lp-header .menu UL LI UL LI {
  display: block;
  margin-left: 0;
  white-space: nowrap;
  padding: 0.25em 0;
}

.scrolling-menu {
  position: absolute;
  margin-top: 141px;
}

.video-banner {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.video-banner VIDEO {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.video-banner .video-text {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.1em;
  text-align: center;
}

.video-banner .video-text H3 {
  margin: 0 0 1.2em;
  color: #99CA3C;
  font-size: 25px;
  line-height: 1em;
  letter-spacing: 0.3em;
}

.video-banner .video-text A:link,
.video-banner .video-text A:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 138px;
  line-height: 1em;
  margin-top: 0.3em;
  display: inline-block;
}

.video-banner .video-text A:hover,
.video-banner .video-text A:active {
  color: #99CA3C;
  text-decoration: none;
}

.banner {
  position: relative;
  background-position: center center;
  background-size: cover;
  min-height: 640px;
}

.banner:before {
  content: "";
  display: block;
  padding-top: 44.44%;
}

.banner .site-width {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
}

.banner .site-width.big-text {
  font-size: 32px;
  letter-spacing: 0.1em;
}

.banner .site-width H2 {
  margin: 0;
  color: #98CA3E;
  font-size: 65%;
}

.bisect-top,
.bisect-top-outer,
.bisect-bottom,
.bisect-bottom-outer {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /*z-index: 20;*/
  width: 1px;
  height: 75px;
  border-left: 1px solid #99CA3C;
}

.bisect-top-outer {
  top: -75px;
}

.bisect-bottom {
  top: auto;
  bottom: 0;
}

.bisect-bottom-outer {
  top: auto;
  bottom: -75px;
}

H3.headline {
  margin: 0 0 1em;
  color: #99CA3C;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.5em;
  text-align: center;
}

.about {
  margin: 0 auto;
  padding: 4em 0 6em;
  font-size: 25px;
  line-height: 1.5em;
  text-align: center;
  position: relative;
}

.about H3.headline {
  margin-bottom: 4em;
}

.about .one-third {
  margin-top: 75px;
  display: inline-block;
  vertical-align: top;
  width: 26%;
  margin-right: 10%;
  color: #959595;
  font-size: 12px;
  line-height: 1.4em;
}

.about .one-third:last-of-type {
  margin-right: 0;
}

.about .one-third .image-box {
  padding-top: 100%;
  position: relative;
}

.about .one-third .image-box IMG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  height: auto;
}

.our-work {
  position: relative;
  margin-top: 100px;
}

.our-work-video {
  float: left;
  width: 33.33%;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.our-work-video:before {
  content: "";
  display: block;
  padding-top: 87.5%;
}

.our-work-video:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.our-work-video.letterbox {
  background-size: auto 133%;
}

.our-work-video A:link,
.our-work-video A:visited {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  color: #FFFFFF;
  text-decoration: none;
  font-size: 110px;
  line-height: 1em;
}

.our-work-video A:hover,
.our-work-video A:active {
  color: #99CA3C;
  text-decoration: none;
}

.our-work-video > DIV {
  position: absolute;
  z-index: 5;
  bottom: 0;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.1em;
  letter-spacing: 0.1em;
  padding: 1.2em 1.5em;
}

.our-work-video > DIV SPAN {
  color: #B4CD44;
  font-weight: 400;
  font-size: 11px;
}

.partners {
  position: relative;
  padding: 100px 0;
  background: #99CA3C;
  text-align: center;
}

.partners .bisect-top,
.partners .bisect-bottom {
  border-color: #143200;
}

.partners H3.headline {
  color: #042800;
}

.partners .partner-images .image {
  display: inline-block;
  width: 12%;
  margin: 50px 3.5%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.partners .partner-images .image:after {
  content: "";
  display: block;
  padding-top: 62.5%;
}

.testimonials {
  background: #252525;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.8em;
  text-align: center;
  padding: 100px 0 80px;
  position: relative;
}

.testimonials H3.headline {
  margin-bottom: 1.5em;
}

.testimonials-slider {
  width: 1000px;
  margin: 0 auto;
}

.testimonials-slider .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-slider .slick-slide DIV {
  margin: 3em 0 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2em;
}

.testimonials .slick-dots {
  bottom: 40px;
}

.experience {
  width: 910px;
  margin: 4em auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.leadership {
  position: relative;
  margin: 100px auto;
}

.leadership .leader {
  float: left;
  width: 50%;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #FFFFFF;
  text-align: center;
}

.leadership .leader:before {
  content: "";
  display: block;
  padding-top: 66.66%;
}

.leadership .leader:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.leader-content {
  position: absolute;
  bottom: 2em;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.leader-content DIV {
  color: #99CA3C;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0;
}

.leader-content-hover {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  box-sizing: border-box;
  padding: 0 4em;
  font-size: 18px;
  line-height: 2em;
}

.leader:hover .leader-content-hover {
  display: block;
}

.social {
  line-height: 1em;
}

.social A:link,
.social A:visited {
  margin: 0 0.3em;
  display: inline-block;
  padding: 0.3em;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background: #FFFFFF;
  color: #252525;
}

.social A:hover,
.social A:active {
  background: #99CA3C;
}

.leadership-slider .slick-dots LI BUTTON {
  border-color: #D5D9DB;
}

.leadership-slider .slick-dots LI.slick-active BUTTON {
  background: #D5D9DB;
}

.leadership-slider .slick-slide {
  background-position: center center;
  background-size: cover;
}

.leadership-slider .slick-slide:after {
  content: "";
  display: block;
  padding-top: 33.66%;
}

.chat {
  padding: 1.7em 0;
  background: #99CA3C;
  color: #1D1A1B;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-align: center;
}

.chat A:link,
.chat A:visited {
  display: inline-block;
  vertical-align: top;
  border: 4px solid #1D1A1B;
  border-radius: 18px;
  padding: 0.5em 1.5em 0.3em 1.6em;
  color: #1D1A1B;
  text-decoration: none;
  font-size: 17px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.chat A:hover,
.chat A:active {
  border-color: #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

.lp-footer {
  padding: 4em 0;
  background: #252525;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}

.lp-footer A:link,
.lp-footer A:visited {
  color: #99CA3C;
  text-decoration: none;
}

.lp-footer A:hover,
.lp-footer A:active {
  color: #FFFFFF;
  text-decoration: none;
}


.footer-col1,
.footer-col2,
.footer-col3 {
  width: 33.33%;
  display: inline-block;
  text-transform: uppercase;
}

.footer-col1 {
  float: left;
}

.footer-col2 {
  text-align: center;
  color: #808285;
  font-size: 14px;
  line-height: 2em;
}

.footer-col3 {
  float: right;
  text-align: right;
  font-size: 20px;
  line-height: 1em;
}

.footer-col3 A:link,
.footer-col3 A:visited {
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 20px;
}

.footer-col3 A:hover,
.footer-col3 A:active {
  color: #99CA3C;
  text-decoration: none;
}

.our-services {
  position: relative;
  padding: 100px 0;
  background: #1A1A1A;
  color: #FFFFFF;
}

.our-services H3.headline {
  margin-bottom: 4em;
}

.our-services .site-width {
  text-align: center;
}

.our-services .site-width DIV {
  display: inline-block;
  width: 19.6%;
  padding: 1em 0;
  line-height: 4em;
}

.our-process {
  position: relative;
  padding: 100px 0;
}

.our-process .process {
  margin: 70px 0;
  padding-top: 125px;
  width: 41%;
  position: relative;
}

.our-process .process:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #F3F4F4;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 1em;
}

.our-process .process H2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1em;
}

.our-process .process.p1,
.our-process .process.p3 {
  float: left;
}

.our-process .process.p2,
.our-process .process.p4 {
  float: right;
}

.our-process .process.p1:before { content: "01."; }
.our-process .process.p2:before { content: "02."; }
.our-process .process.p3:before { content: "03."; }
.our-process .process.p4:before { content: "04."; }













@media only screen and (max-width: 1200px) {
  .site-width-wide {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .site-width,
  .experience {
    width: 96%;
  }

  .video-banner {
    overflow: hidden;
    padding-top: 75%;
  }

  .video-banner VIDEO {
    z-index: -1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .testimonials-slider {
    width: 85%;
  }

  .leader-content-hover {
    padding: 0 6%;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .video-banner {
    padding-top: 100%;
  }

  .video-banner .video-text {
    transform: translate(-50%, -40%);
  }

  .our-work-video {
    width: 50%;
  }

  .partners .partner-images .image {
    width: 17%;
  }

  .leadership {
    margin-bottom: 0;
  }

  .leadership .leader:before {
    padding-top: 100%;
  }

  .leadership-slider .slick-slide:after {
    padding-top: 50%;
  }

  .chat {
    padding: 50px 0;
    background: #FFFFFF;
    font-size: 43px;
  }

  .chat A:link,
  .chat A:visited {
    margin: 1.8em auto 0;
    border-color: #B4CD45;
    border-radius: 25px;
    font-size: 50%;
    display: table;
  }

  .chat A:hover,
  .chat A:active {
    border-color: #B4CD45;
    color: #B4CD45;
  }

  .footer-col2 {
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }

  .our-services .site-width DIV {
    width: 24.6%;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .video-banner {
    padding-top: 130%;
  }

  .banner .site-width {
    transform: translate(-50%,-37%);
  }

  .about .one-third {
    margin: 0;
    font-size: 20px;
    line-height: 1.4em;
    padding: 0 24px;
  }

  .about .one-third .image-box {
    padding-top: 60%;
    width: 63%;
    margin: 0 auto;
  }

  .our-work-video {
    float: none;
    width: 100%;
  }

  .partners .partner-images {
    padding: 0 40px;
  }

  .partners .partner-images A.slick-prev {
    left: 15px;
  }

  .partners .partner-images A.slick-next {
    right: 15px;
  }

  .partners .partner-images .image {
    margin: 20px 0;
    background-size: 70%;
  }
  
  .leadership .leader {
    float: none;
    width: 100%;
  }

  .leader-content-hover {
    padding: 0 4em;
    line-height: 2em;
  }
  
  .leadership .leader:before,
  .leadership-slider .slick-slide:after {
    padding-top: 75%;
  }

  .chat {
    font-size: 34px;
  }

  .footer-col1,
  .footer-col3 {
    display: blokc;
    float: none;
    width: 100%;
    text-align: center;
  }

  .footer-col1 {
    font-size: 3.3vw;
    line-height: 1.5em;
    margin: 3em 0;
  }

  .footer-col2 {
    font-size: 4vw;
    line-height: 1.8em;
    margin-bottom: 0;
  }

  .footer-col3 {
    font-size: 42px;
  }

  .footer-col3 A:link,
  .footer-col3 A:visited {
    margin: 0 3%;
  }

  .our-services .site-width DIV {
    width: 32.6%;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .lp-header {
    width: 100%;
  }

  .lp-header.sticky {
    position: fixed;
    padding: 15px 0;
    background: rgba(235, 235, 235, 0.95);
  }

  .lp-header #logo {
    margin-left: 4%;
  }

  .lp-header.sticky #logo {
    width: 60px;
    height: 60px;
    background-image: url(../images/logo-black.png);
  }

  .lp-header .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: rgba(153, 202, 60, 0.9);
  }

  #menu-toggle {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 49px;
    height: auto;
    line-height: 1em;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 101;
  }

  #menu-toggle:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
  }

  .lp-header.sticky #menu-toggle {
    color: #252525;
  }

  #show-menu:checked + #menu-toggle:after {
    content: "\f00d";
  }

  #show-menu:checked + #menu-toggle + .menu {
    display: block;
  }

  .lp-header .menu UL {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 13vw;
    line-height: 1em;
    width: 100%;
  }

  .lp-header .menu UL LI {
    display: block;
    margin-left: 0;
    padding: 0.4em 0 0.4em 0.2em;
    text-align: center;
  }

  .lp-header .menu UL LI.mobile {
    display: block;
  }

  .lp-header .menu UL LI A:hover,
  .lp-header .menu UL LI A:active,
  .lp-header .menu UL LI:hover > A {
    color: #FFFFFF;
  }

  .video-banner {
    padding-top: 150%;
  }

  .video-banner .video-text {
    font-size: 11.8vw;
    transform: translate(-50%, -35%);
  }

  .video-banner .video-text H3 {
    font-size: 4.8vw;
  }

  .video-banner .video-text A:link,
  .video-banner .video-text A:visited {
    font-size: 80px;
  }

  .banner {
    min-height: 590px;
  }

  .banner .site-width {
    font-size: 6vw;
    line-height: 1.5em;
  }

  .banner .site-width.big-text {
    font-size: 7.2vw;
  }

  .bisect-top,
  .bisect-top-outer,
  .bisect-bottom,
  .bisect-bottom-outer {
    height: 50px;
  }

  .bisect-top-outer {
    top: -50px;
  }

  .bisect-bottom-outer {
    bottom: -50px;
  }

  H3.headline {
    font-size: 3.8vw;
  }

  .about {
    padding: 3em 0 4em;
    font-size: 20px;
  }

  .about H3.headline {
    margin-bottom: 2em;
  }

  .about .one-third {
    font-size: 14px;
  }

  .about .one-third .image-box {
    padding-top: 60%;
    width: 70%;
  }

  .our-work {
    margin-top: 75px;
  }

  .partners {
    padding: 75px 0;
  }

  .testimonials {
    padding-top: 75px;
    font-size: 20px;
  }

  .leadership {
    margin-top: 75px;
  }

  .leader-content-hover {
    padding: 0 4%;
    font-size: 4vw;
    line-height: 1.5em;
  }

  .footer-col3 A:link,
  .footer-col3 A:visited {
    margin: 0 2%;
  }

  .our-services .site-width DIV {
    width: 49.3%;
    line-height: 3em;
  }
}

@media only screen and (max-width: 390px) {
  /* Small Phone */
  .our-services .site-width DIV {
    width: 100%;
    line-height: 2em;
  }
}